{% extends "layout.html" %}
{% load static %}
{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Login</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Login</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Login Section -->
    <section id="login" class="login section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="auth-container" data-aos="fade-in" data-aos-delay="200">

              <!-- Login Form -->
              <div class="auth-form login-form active">
                <div class="form-header">
                  <h3>Welcome Back</h3>
                  <p>Sign in to your account</p>
                </div>

  
      <div id="login-messages">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      </div>


                
                <form action="{% url "account:login" %}" method="POST" class="auth-form-content">
                    {% csrf_token %}
                  <div class="input-group mb-3">
                    <span class="input-icon">
                      <i class="bi bi-envelope"></i>
                    </span>
                    <input type="text" class="form-control" id="fullName" name="username" placeholder="Full Name" required="" autocomplete="name">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-icon">
                      <i class="bi bi-lock"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Password" name="password" required="" autocomplete="current-password">
                    <span class="password-toggle">
                      <i class="bi bi-eye"></i>
                    </span>
                  </div>

                  <div class="form-options mb-4">
                    <div class="remember-me">
                      <input type="checkbox" id="rememberLogin">
                      <label for="rememberLogin">Remember me</label>
                    </div>
                    <a href="#" class="forgot-password">Forgot password?</a>
                  </div>

                  <button type="submit" class="auth-btn primary-btn mb-3">
                    Sign In
                    <i class="bi bi-arrow-right"></i>
                  </button>

               

                  <div class="switch-form">
                    <span>Don't have an account?</span>
                    <button type="button" class="switch-btn" data-target="register"><a href="{% url "account:register" %}">Create account</a></button>
                  </div>
                </form>
               
                

              </div>

              

  </main>


<script>
  function  show (){
    let messages = document.getElementById("login-messages");

    setTimeout(function() {
      messages.style.display = "none";
    }, 10000); 
  }
</script>

<script>


  
{% endblock content %}

